:root {
  --primary-color : #505033;
  --secondary-color : #264969;
  --accent1 : #cfcfb4;
  --accent2 : #b4cde4;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1, h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.social-links a {
  text-decoration: none;
}
.pages a {
  text-decoration: none;
}
body {
  max-width: 1200px;
}
.hero {
  position: relative;
  width: 100%;
  height: 10%;
  overflow: hidden;
}
.hero img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero h1 {
  position: absolute;
  top: 20px;
  left: 210px;
  background: rgba(0, 0, 0, 0.5);
  color: var(--accent1);
  font-size: 300%;
}
.hero article {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--secondary-color);
  color: var(--accent1);
  padding: 15px;
  width: 80%;
  border-radius: 5px;
  opacity: 0.9;
}
.hero article img {
  width: 300px;
  height: auto;
  float: right;
  margin-left: 10px;
  opacity: 1;
}
h2 {
  font-size: 50px;
  font-weight: bold;
  color: var(--accent2);
}
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center; 
  justify-content: space-around;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  font-size: x-large;
  padding: 3px;
  border: 3px solid #000;
}
.history {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 40px 20px;
}
.history h2 {
  display: grid;
  grid-column: span 2/3;
  margin-bottom: 20px;
}
.history p {
  margin: 20px;
  align-items: center;
}
.history p:first-of-type {
  grid-column: 1/2;
}
.history p:last-of-type {
  grid-column: 3/4;
}
.history .image {
  grid-column: 2/3; /* Center the image in the middle column */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .history {
    grid-template-columns: 1fr; /* Stacks columns on smaller screens */
  }

  .history h2 {
    grid-column: span 1; /* Title takes full width */
  }

  .history .image,
  .history p {
    grid-column: span 1; /* Full width for each */
  }
}
.adventure {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* align-content: center; */
  /* justify-content: center; */
  grid-gap: 40px;
}
.adventure h2{
  display: grid;
  align-self: center;
  justify-content: center;
  grid-column: span 3/6;
  /* margin-top: 30px; */

}
  .adventure img {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-row: 1/6;
    align-content: center;
    justify-content: center;

  }

footer {
  display: flex;
  /* justify-content: center; */
  /* justify-content: flex-end; */
  justify-content: space-around;
  background-color: var(--secondary-color);
  align-items: center;
}
footer p{
  display: grid;
  justify-content: center;
}
footer nav{
  display: flex;
  justify-content: space-around;
  justify-content: flex-end;
}